<div layout="column" flex layout-fill ng-controller='ToolBarCtrl'>

<div class="jumbotron">
<h1 class="md-display-3">Dashboard</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

  <!-- Advanced Search Form -->
  <form ng-controller="AdvSearchCtrl"></form>
    <label>First Name</label>
      <input type="text" ng-model="input.firstName" class="form-control" placeholder="First Name"/>
    <label>Last Name</label>
      <input type="text" ng-model="input.lastName" class="form-control" placeholder="Last Name"/>
    <label>Gender</label>
      <md-select placeholder="Gender" ng-model="input.gender" class="form-control" >
        <md-option value="male">Male</md-option>
        <md-option value="female">Female</md-option>
        <md-option value="other">Other</md-option>
      </md-select>
    <label>Language</label>
      <input type="text" ng-model="input.language" class="form-control" placeholder="Language"/>
    <label>Country</label>
      <input type="text" ng-model="input.country" class="form-control" placeholder="Country"/>
    <label>Age</label>
      <input type="text" ng-model="input.age" class="form-control" placeholder="Age"/>
    <md-button ng-click="advancedSearch(input)" class="md-primary">
      Advanced Search
    </md-button>
  </form>
</div>