
<div class="personal-profile">
  <img align="left" class="personal-image-lg" src="images/cropped-ucr-picture.jpg" alt="Profile image" />
  <img align="left" class="personal-image-profile thumbnail" src={{profileData.picture}} alt="Profile image example"/>
  <div class="personal-profile-text">
    <h1>{{profileData.firstName}} {{profileData.lastName}} <button ng-hide="showAddFriend(profileOwner, isMyFriend);"><small>Add Friend</small></button></h1>
  </div>
</div>


<div layout="column" flex layout-fill ng-controller='ToolBarCtrl' class="md-primary" md-padding>
  <div class="row">
    <div class="col-md-5 col-xs-12">
          <div class="md-actions default-primary-color md-padding" layout="row" layout-align="end end">
            <md-button style="color: white;" ng-show="true" aria-label="">{{}}</md-button>
          </div>
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-7">
              <p ng-show="{{profileOwner}}">Welcome back!</p>
              <p><span class="btn btn-success" ng-show="profileData.loggedIn">Online</span> <span class="btn btn-danger" ng-show="!profileData.loggedIn">Offline</span> </p>

              <p><strong>About Me: </strong> {{profileData.aboutMe}}</p>
              <p><strong>Email: </strong> {{profileData.email}} </p>
              <p><strong>Studied: </strong> {{profileData.school}} </p>
              <p><strong>Birthday: </strong> {{profileData.birthday}} </p>
              <!-- <p ng-repeat="friend in commonFriends"><i>{{friend.firstName}} {{friend.lastName}}</p> -->
            </div>
            <div class="col-md-4">
              <p><strong>Favorite Movie: </strong> </p>
              <ul class="list-group">
                <li class="label label-info" style="margin: 5px;" ng-repeat="movie in profileData.movies ">{{movie}}</li>
              </ul>

              <p><strong>Favorite Music: </strong> </p>
              <ul class="list-group">
                <li class="label label-info" style="margin: 5px;" ng-repeat="movie in profileData.music ">{{movie}}</li>
              </ul>
            </div>
          </div>
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->

      <!-- friends -->
<div class="panel panel-default">
          <div class="md-actions default-primary-color md-padding" layout="row" layout-align="end end">
            <md-button style="color: white;" ng-show="true" aria-label="">{{}}</md-button>
          </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h4>Friends In Common - <small>{{commonFriends.length}}</small></h4>
        <div class="row">
        <div class="event">
        <!-- <div class="col-xs-3 col-md-2"> -->
            <div class="col-xs-6 col-md-3 text-center" ng-repeat="friend in commonFriends"
                style="width: 10em; height: 10em;">
              <md-button ng-click="goToProfile(friend.friendID)" aria-label="" style="width: 60%; height: 60%">
              <img src={{friend.picture}} class="img-responsive"/> <br >
              </img>
              </md-button>
              <br>
              <small style="text-align:center;">{{friend.firstName}} {{friend.lastName}}</small>
          </div>
        </div>
        </div>
      </div>

    </div>
            <!--/row-->
  </div>
  <!--/panel-body-->
      <!-- photos -->
<div class="panel panel-default" ng-hide="true">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h4>Photos - <small>6</small></h4>
        <div class="row">
          <div class="col-sm-4 event">
          <div class="thumbnail">
            <div class="overlay"></div>
          <!-- <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1"> -->
          </div>
          </div>
        </div>
      </div>

    </div>
  <!--/row-->
  </div>
<!--/panel-body-->
</div>
      <!--/panel-->
      <!-- end photos -->

</div>


      <!-- end Video -->
    </div>

    <!-- Right-handed side -->
<div class="col-md-6 col-xs-12">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="user-info-block">
      </div>
            <div id="tab" class="btn-group" data-toggle="buttons-radio">
              <ul class="nav nav-tabs">
                <li><span href="#new_post" class="btn" data-toggle="tab">New Post</span></li>
                <li><span href="#new_upload" class="btn" data-toggle="tab">Upload</span></li>
              </ul>
            </div>
            <br/>

            <div class="tab-content">
              <div class="tab-pane active" id="new_post">
                <form ng-submit="addTextPost(postText)" id="postForm">
                    <div class="input-group">
                      <input type="text" style="position: relative; z-index: 1;" class="form-control" placeholder="Share something here..." maxlength="200" ng-model="postText">
                      <span class="input-group-btn">
                        <button class="btn btn-danger">Send</button>
                      </span>
                    </div><!-- /input-group -->
                </form>
              </div>
              <div class="tab-pane" id="new_upload">
                <div class="input-group">
                  <input class="btn btn-primary form-control" style="position: relative; z-index: 1;"  name="post-file" ng-upload="getPostFile($files)" type="file"/>
                  <span class="input-group-btn">
                    <button class="btn btn-danger" ng-click="addImagePost('', postFile)" tabindex="0"> Send</button>
                  </span>
                </div>
                <button ng-click="removeUpload();">Remove</button>
              </div>
            </div>

            <br/><br/>
          </div>
        </div>

      <!-- Post section -->
      <div ng-repeat="post in postData | orderBy:'-timeStamp'">
        <md-card>
          <div class="md-actions default-primary-color" layout="row" layout-align="end end">
            <md-button style="color: white;" ng-show="profileOwner" aria-label="" ng-click="showConfirmDeletePost($event, post.$id)">
             <md-icon md-svg-src="images/icons/ic_cancel_48px.svg"></md-icon>

            </md-button>
          </div>

          <div class="md-actions default-primary-color md-padding" layout="row" layout-align="end end">
            <md-button style="color: white;" ng-show="!profileOwner" aria-label="">{{}}</md-button>
          </div>

          <md-content class="md-default-theme md-padding">
            <div class="row">
              <div class="col-xs-4 col-md-4">
                <md-button ng-click="goToProfile(post.senderID)" aria-label="">
                  <img ng-src="{{post.senderPicture}}"  />
                </md-button>
              </div>
              <div class="col-sm-6 col-md-6">
                <md-button ng-click="goToProfile(post.senderID)">{{post.senderID}}</md-button>
                <font size="1"><div>{{post.postDate}}</div></font>
                <div><font size="5">{{post.message}}</font></div>
               <img ng-src="{{post.imageSrc}}"  width="100%" />
              </div>
            </div>

          </md-content>
            <md-divider/>

            <md-list class="divider-color">
              <md-list-item class="md-1-line divider-color md-padding" ng-repeat="comment in post.comments" >
                <div class="md-list-item-text md-padding" style="background-color: #f5f5f5;">
                  <div class="row">
                    <!-- Commenter Pictutre Column -->
                    <div class="col-xs-3 col-md-2">
                      <md-button ng-click="goToProfile(comment.senderID)" aria-label="">
                        <img ng-src="{{comment.senderPicture}}" align="left"/>
                      <md-button>
                    </div>
                    <!-- Comment Text Column -->
                    <div class="col-s-6 col-sm-6 col-md-6">
                      <md-button ng-click="goToProfile(comment.senderID)">{{comment.senderID}}</md-button>
                        <font size="1"><div> {{comment.postDate}}</div></font>
                        <font size="2"><div>{{comment.message}}</strong></div></font>
                    </div>
                    <!-- Delete Icon Column -->
                    <div class="md-actions" layout="row" layout-align="end end" layout-margin>
                     <md-button ng-show="profileOwner" aria-label="" ng-click="showConfirmDeleteComment($event, post.$id, comment.commentID)" style="margin: 10px">
                     <md-icon md-svg-src="images/icons/ic_delete_48px.svg"></md-icon>
                     </md-button>
                   </div>
                  </div>
                  <md-divider></md-divider>
                </div>
              </md-list-item>
            </md-list>
            <form role="form" ng-submit="addComment(post.$id, commentText)" id="commentForm">
              <div class="input-group">
                <input type="text" style="position: relative; z-index: 1;" class="form-control" placeholder="Write a comment..." ng-model="commentText" maxlength="200">
                <span class="input-group-btn">
                  <md-button class="btn md-accent" type="button" ng-click="addComment(post.$id, commentText)">SEND
                <md-icon md-svg-src="images/icons/ic_send_48px.svg"></md-icon>
                    </md-button>
                   <!-- <md-icon md-svg-src="images/icons/ic_send_48px.svg"></md-icon> -->
                </span>
              </div>
            </form>
        </md-card>
              </div>
   </md-list-item>
      </div>
    </div>
  </div>
</div>

</div>
