
    <div class="personal-profile">
        <img align="left" class="personal-image-lg" src="http://orientation.ucr.edu/images/cropped-ucr-picture.jpg" alt="Profile image" />
        <img align="left" class="personal-image-profile thumbnail" src={{profileData.picture}} alt="Profile image example"/>
        <div class="personal-profile-text">
            <h1>{{profileData.firstName}} {{profileData.lastName}} <button ng-hide="showAddFriend(profileOwner, isMyFriend);"><small>Add Friend</small></button></h1>
        </div>
    </div>
 

<div layout="column" flex layout-fill ng-controller='ToolBarCtrl' class="md-primary" md-padding>
  <div class="row">
    <div class="col-md-5 col-xs-12">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-7">
              <p ng-show="{{profileOwner}}">Welcome back!</p>
              <p><span class="btn btn-success" ng-show="profileData.loggedIn">Online</span> <span class="btn btn-default" ng-show="!profileData.loggedIn">off-line</span> </p>
              
              <p><strong>About Me: </strong> {{profileData.aboutMe}}</p>
              <p><strong>Email: </strong> {{profileData.email}} </p>
              <p><strong>Studied: </strong> {{profileData.school}} </p>
              <p><strong>Birthday: </strong> {{profileData.birthday}} </p>
              <!-- <p ng-repeat="friend in commonFriends"><i>{{friend.firstName}} {{friend.lastName}}</p> -->
            </div>
            <div class="col-md-4">
              <p><strong>Favorite Movie: </strong> </p>
              <ul class="list-group">
                <li class="label label-info" ng-repeat="movie in profileData.movies ">{{movie}}</li>
              </ul>

              <p><strong>Favorite Music: </strong> </p>
              <ul class="list-group">
                <li class="label label-info" ng-repeat="movie in profileData.music ">{{movie}}</li>
              </ul>
            </div>
          </div>
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->

      <!-- friends -->
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h4>Friends In Common - <small>{{commonFriends.length}}</small></h4>
        <div class="row">
        <div class="event">
          <div class="row">
            <div class="col-xs-6 col-md-3 text-center" ng-repeat="friend in commonFriends">
              <md-button ng-click="goToProfile(friend.friendID)">
              <img src={{friend.picture}} class="img-responsive" /> <br >
              <small>{{friend.firstName}} {{friend.lastName}}</small>
              </img>
              </md-button><br />
            </div>
          </div>
        </div>
        </div>
      </div>

    </div>
            <!--/row-->
  </div>
  <!--/panel-body-->
</div>

      <!-- pictures -->
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h4>Pictures - <small>6</small></h4>
        <div class="row">
          <div class="col-sm-4 event">
          <div class="thumbnail">
            <div class="overlay"></div>
          <!-- <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1"> -->
          </div>
          </div>
        </div>
      </div>

    </div>
  <!--/row-->
  </div>
<!--/panel-body-->
</div>
      <!--/panel-->
      <!-- end pictures -->

      <!-- end Video -->
    </div>

    <script type="text/javascript">
    $(function() {
      $('#tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    })
    </script>

    <!-- Right-handed side -->
<div class="col-md-6 col-xs-12">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="user-info-block">
      </div>
      
            <div id="tab" class="btn-group" data-toggle="buttons-radio">
              <ul class="nav nav-tabs">
                <li><a href="#new_post" class="btn" data-toggle="tab">New Post</a></li>
                <li><a href="#new_upload" class="btn" data-toggle="tab">Upload</a></li>
              </ul>
            </div>
            <br />
            <div class="tab-content">
              <div class="tab-pane active" id="new_post">
                <form ng-submit="addTextPost(postText)" id="postForm">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Share something here..." maxlength="200" ng-model="postText">
                      <span class="input-group-btn">
                        <button class="btn btn-warning">Send</button>
                      </span>
                    </div><!-- /input-group -->
                </form>
              </div>
              <div class="tab-pane" id="new_upload">
                  <div class="input-group">
                    <input class="btn btn-primary form-control" name="post-file" ng-upload="getPostFile($files)" type="file" />
                    <span class="input-group-btn">
                      <button class="btn btn-warning" ng-click="addImagePost('', postFile)" tabindex="0"> Send</button>
                    </span>
                   
                  </div>
                   <button ng-click="removeUpload();">Remove</button>
              </div>
            </div>
      
            <br /><br />
          </div>
        </div>
      <!-- Post section -->
      <div ng-repeat="post in postData | orderBy:'-timeStamp'">
<!--         <div ng-class="date">
            <span ng-class="day">22</span><br>
            <span ng-class="month">Apr</span>
        </div> -->
        <md-card>
          <div class="md-actions accent-color" layout="row" layout-align="end end">
            <md-button style="color: white;" ng-show="profileOwner" ng-click="showConfirmDeletePost($event, post.$id)">Delete post</md-button>
          </div>
          <md-content class="md-default-theme md-padding">
            <div class="row">
              <div class="col-xs-5 col-md-4">
               <img ng-src="{{post.imageSrc}}"  width="100%" />
              </div>
             </div>
            <div class="row">
              <div class="col-xs-4 col-md-4">
                <img ng-src="{{post.senderPicture}}"  width="80px" height="100px" />
              </div>
              <div class="col-sm-10 col-md-10">
                <md-button ng-click="goToProfile(post.senderID)" > {{post.senderID}}</md-button>
                <font size="2"><div>Timestamp: {{post.postDate}}</div></font>
                <div><font size="5">{{post.message}}</font></div>
              </div>
              <div class="col-sm-offset-10">
              </div>
            </div>

          </md-content>
            <md-divider/>

            <md-list class="divider-color">
              <md-list-item class="md-1-line divider-color" ng-repeat="comment in post.comments">
                <div class="md-list-item-text" style="background-color: #f5f5f5;">
                  <div class="row">
                    <!-- Commenter Pictutre Column -->
                    <div class="col-xs-3 col-md-2">
                      <img ng-src="{{comment.senderPicture}}"  width="20px" height="45px" align="left"/>
                    </div>
                    <!-- Comment Text Column -->
                    <div class="col-xs-7 col-sm-7 col-md-7">
                      <md-button ng-click="goToProfile(comment.senderID)">{{comment.senderID}}</md-button>
                        <font size="1"><div> {{comment.postDate}}</div></font>
                        <font size="2"><div>{{comment.message}}</strong></div></font>
                    </div>
                    <!-- Delete Icon Column -->
                    <div class="col-xs-7 col-sm-7 col-md-2 text-right">
                     <md-button ng-show="profileOwner" ng-click="showConfirmDeleteComment($event, post.$id, comment.commentID)">
                      <img src="images/icons/trash.png" width="25px" height="25px"/>
                     </md-button>
                    </div> 
                  </div>
                  <md-divider></md-divider>
                </div>
              </md-list-item>
            </md-list>
            <form role="form" ng-submit="addComment(post.$id, commentText)" id="commentForm">
              <div class="input-group" style="z-index: 1;">
                <input type="text" class="form-control" placeholder="Write a comment..." ng-model="commentText" maxlength="200">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" ng-click="addComment(post.$id, commentText)">SEND</button>
                </span>
              </div>
            </form>
        </md-card>
              </div>
   </md-list-item>
      </div>
    </div>
  </div>
</div>

</div>
