<div layout="column" flex layout-fill ng-controller='ToolBarCtrl' class="md-primary" md-padding>
<h1 class="page-header">Profile</h1>
  <div class="row">
    <div class="col-md-5 col-xs-12">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-5 text-center">
              <img src={{profileData.picture}}   width="140" height="120"/>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-7">
              <h2>{{profileData.firstName}} {{profileData.lastName}}</h2>
              <p><strong>About Me: </strong> {{profileData.aboutMe}} </p>
              <p><strong>Studied: </strong> {{profileData.education}} </p>
              <p><strong>Online: </strong> {{profileData.loggedIn}} </p>
              <p><strong>Email: </strong> {{profileData.email}} </p>
              <p><strong>Birthday: </strong> {{profileData.birthday}} </p>
              <p><strong>Favorite Movie: </strong> {{profileData.movies}} </p>
              Owner {{profileOwner}}
              <p><strong>Friends In Common: </strong> {{commonFriends.length}} </p>
              <p ng-repeat="friend in commonFriends"><i>{{friend}}</p>
            </div>
            <!--/col-->
            <div class="clearfix"></div>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->

      <!-- friends -->
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h4>Friends - <small>6</small></h4>
        <div class="row">
        <div class="col-sm-4 event">
          <div class="thumbnail">
            <div class="overlay"></div>
            <!-- <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1"> -->
          </div>
        </div>
        </div>
      </div>

    </div>
            <!--/row-->
  </div>
  <!--/panel-body-->
</div>

      <!-- pictures -->
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h4>Pictures - <small>6</small></h4>
        <div class="row">
          <div class="col-sm-4 event">
          <div class="thumbnail">
            <div class="overlay"></div>
          <!-- <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1"> -->
          </div>
          </div>
        </div>
      </div>

    </div>
  <!--/row-->
  </div>
<!--/panel-body-->
</div>
      <!--/panel-->
      <!-- end pictures -->

      <!-- end Video -->
    </div>

    <script type="text/javascript">
    $(function() {
      $('#tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    })
    </script>

    <!-- Right-handed side -->
<div class="col-md-7 col-xs-12">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="user-info-block">
        <ul class="navigation" id="tab">
          <li class="active">
            <a data-toggle="#information" href="#information">
                <span class="glyphicon glyphicon-envelope"></span>
            </a>
          </li>
          <li>
            <a data-toggle="#settings" href="#settings">
                <span class="glyphicon glyphicon-upload"></span>
            </a>
          </li>
        </ul>

      </div>
      <div class="user-body">
        <div class="tab-content">
          <div id="information" class="tab-pane active">
            <div class="input-group" style="z-index: 1;">
              <input id="btn-input" type="text" class="form-control input-sm ng-pristine ng-valid ng-valid-maxlength ng-touched" placeholder="Share something here..." maxlength="200" ng-model="postText" tabindex="0" aria-invalid="false">
                <button class="btn btn-warning" id="btn-chat" ng-click="addTextPost(postText)" tabindex="0"> Send</button>
            </div>
              <input class="btn btn-primary" name="post-file" ng-upload="getPostFile($files)" type="file"></input><!-- 
              <img id="post-imagepreview" src="" alt="your image" max-width="100%" class="img-responsive" /> <br />  -->  
              <button ng-click="removeUpload();">Remove</button>
              <button class="btn btn-warning" id="btn-chat" ng-click="addImagePost('', postFile)" tabindex="0"> Send</button>
          </div>
        </div>
      </div>
      <!-- Post section -->
      <div ng-repeat="post in postData | orderBy:'-timeStamp'">
        <md-card>
          <div class="md-actions accent-color" layout="row" layout-align="end end">
            <md-button style="color: white;" ng-show="profileOwner" ng-click="showConfirmDeletePost($event, post.$id)">Delete post</md-button>
          </div>
          <md-content class="md-default-theme md-padding">
            <p>SenderID: {{post.senderID}}</p>
            <p>message: {{post.message}}</p>
            <p>POST ID: {{post.$id}}</p>
            <p>Timestamp: {{post.timeStamp}}</p>
            <img ng-src="{{post.imageSrc}}"  width="100%" />  
            <md-button ng-click="goToProfile(post.senderID)"> Sender Profile </md-button>

          </md-content>
            <md-divider/>

            <md-list class="divider-color">
              <md-list-item class="md-3-line divider-color" ng-repeat="comment in post.comments">
                <div class="md-list-item-text" style="background-color: #f5f5f5;">
                  <p style="padding-left: 40px; padding-top: 10px;"> {{comment.senderID}} wrote: {{comment.message}}</strong></p>
                  <md-button ng-click="goToProfile(comment.senderID)"> Sender Profile </md-button>
                   <md-button style="color: white;" ng-show="profileOwner" ng-click="showConfirmDeleteComment($event, post.$id, comment.commentID)">Delete post</md-button>
                   <md-divider></md-divider>

                </div>
              </md-list-item>
            </md-list>
            <form role="form">
              <div class="input-group" style="z-index: 1;">
                <input type="text" class="form-control" placeholder="Write a comment..." ng-model="commentText" maxlength="200">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" ng-click="addComment(post.$id, commentText)">SEND</button>
                </span>
              </div>
            </form>
        </md-card>
              </div>
   </md-list-item>
      </div>
    </div>
  </div>
</div>

</div>
