  <div ng-controller="SettingsCtrl">

    <md-checkbox ng-model="data.bottom" aria-label="Align tabs to bottom?" style="margin: 5px;">
      Align tabs to bottom?
    </md-checkbox>

       <md-tabs class="md-primary md-hue-2" md-stretch-tabs="always" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">

    <!-- Profile Tab -->
        <md-tab id="tab1">
          <md-tab-label>Profile Settings</md-tab-label>
          <md-tab-template>
          <md-card style="margin: 1px !important">
          <md-content layout-padding>

              <div class="container">
                <h1 class="page-header">Profile</h1>
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="text-center">
                      <img ng-hide="!userCurrent.picture" ng-src="{{userCurrent.picture}}" class="avatar img-circle img-thumbnail"/>
                      <h6>Upload a different photo...</h6>
                      <input type="file" class="text-center center-block" ng-upload="getPostFile($files)">
                    </div>
                  </div>
                  <!-- edit form column -->
                  <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                          <label class="col-lg-3 control-label">First Name:</label>
                          <div class="col-lg-8">
                            <input class="form-control" ng-model="user.firstName" type="text" placeholder="{{userCurrent.firstName}}">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-lg-3 control-label">Last Name:</label>
                          <div class="col-lg-8">
                            <input class="form-control" ng-model="user.lastName" type="text" placeholder="{{userCurrent.lastName}}">
                          </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                          <input class="form-control" ng-model="user.email" type="text" placeholder="{{userCurrent.email}}">
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Birthday:</label>
                        <div class="col-lg-8">
                          <input class="form-control" ng-model="user.birthday" type="text" pick-a-date="date" pick-a-date-options="{ format: 'mm-dd-yyyy' }" placeholder="{{userCurrent.birthday}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Language:</label>
                        <div class="col-lg-8">
                          <input class="form-control" ng-model="user.language" type="text" placeholder="{{userCurrent.language}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Gender:</label>
                        <div class="col-lg-8">
                          <select value='{{userCurrent.gender}}' ng-model='user.gender'>
                            <option value='male'>Male</option>
                            <option value='female'>Female</option>
                            <option value='other'>Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Country:</label>
                        <div class="col-lg-8">
                          <input class="form-control" ng-model="user.country" type="text" placeholder="{{userCurrent.country}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Work:</label>
                        <div class="col-lg-8">
                          <input class="form-control" ng-model="user.work" type="text"placeholder="{{userCurrent.work}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">School:</label>
                        <div class="col-lg-8">
                          <input class="form-control" ng-model="user.school" type="text" placeholder="{{userCurrent.school}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">About Me:</label>
                        <div class="col-lg-8">
                          <textarea class="form-control" id="inputBody" ng-model="user.aboutMe" rows="8" placeholder="{{userCurrent.aboutMe}}"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Favorite Movies:</label>

                        <div class="col-lg-8">
                          <div class="btn-group" data-toggle="buttons">
                            <div class="row">
                               <div class="col-xs-8">
                                  <input class="form-control" ng-model="movie" type="text">
                                </div>
                                <div class="col-xs-4">
                                  <button class="btn btn-default" type="submit" ng-click="addMovie(movie);">Add</button>
                                </div>
                            </div>
                            <span ng-repeat="item in movies" ng-click="removeMovie($index)">{{item}} <i class="glyphicon glyphicon-remove"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Favorite Movies:</label>

                        <div class="col-lg-8">
                          <div class="btn-group" data-toggle="buttons">
                            <div class="row">
                               <div class="col-xs-8">
                                  <input class="form-control" ng-model="music" type="text">
                                </div>
                                <div class="col-xs-4">
                                  <button class="btn btn-default" type="submit" ng-click="addMusic(music);">Add</button>
                                </div>
                            </div>
                            <span ng-repeat="item in musics" ng-click="removeMusic($index)">{{item}} <i class="glyphicon glyphicon-remove"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8 text-center">
                          <input class="btn btn-primary" value="Save Changes" type="button" ng-click="saveSettings(user)">
                          <span ng-model="savedStatus">{{savedStatus}}</span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

          </md-content>
          </md-card>
          </md-tab-template>
        </md-tab>


   <!--Privacy Tab-->
      <md-tab id="tab2">
        <md-tab-label>Privacy Settings</md-tab-label>
        <md-tab-template>
        <md-card style="margin: 1px !important">
        <md-content layout-padding>
        <form name="privacyForm">

            <!-- These should be saved pull downs -->
          <section>
            <md-container flex>
              <label>Who can see my posts?</label>
              <label>{{ userCurrent.postPrivacy }}</label>
            </md-container>
          </section>
          <section>
            <md-container flex>
              <label>Who can send me messages?</label>
              <label>{{ userCurrent.messagePrivacy }}</label>
            </md-container>
          </section>


          <!-- These should be saved pull downs -->
          <div layout layout-sm="row">
            <md-container flex>
              <md-select placeholder="Who can see my posts?" ng-model="privacy" ng-change="postSettings(privacy)">
                <md-option value="Everyone">Everyone</md-option>
                <md-option value="Friends">Friends</md-option>
                <md-option value="No One">No One</md-option>
              </md-select>
            </md-container>

          </div>

          <div layout layout-sm="row">
            <md-container flex>
              <md-select placeholder="Who can send me messages?" ng-model="mess" ng-change="messageSettings(mess)">
                <md-option value="Everyone">Everyone</md-option>
                <md-option value="Friends">Friends</md-option>
                <md-option value="No One">No One</md-option>
              </md-select>
            </md-container>

          </div>

        <md-card-footer>
        <p></p>
        </md-card-footer>

        </form>

        </md-content>
        </md-card>
        </md-tab-template>
        </md-tab>
    </md-tabs>
</div>
