<div layout="column" layout-fill ng-controller='ToolBarCtrl'>
  <md-toolbar style="position: fixed;">
    <div class="md-toolbar-tools">
      <!-- fill up the space between left and right area -->
      <md-button class="md-icon-button" aria-label="Settings" ng-click='toggleLeft()'>
          <md-icon md-svg-icon="images/icons/menu.svg" ></md-icon>
      </md-button>
      <span flex></span>
      <img src="../../images/logo.png">
      <span flex></span>
      <span ></span>
      <md-button ng-click='checkPending()' class="md-accent">
        <span class="btn btn-danger" ng-show="friendRequestObj" ng-click="goToFriendRequest()"> <i class="glyphicon glyphicon-user badge">{{friendRequestObj.$value}}</i></span>
      </md-button>



    <!-- TODO: Add action="" to take to selectedProfile -->
    <form id="searchForm" ng-controller='SearchCtrl' ng-submit='visitAdvSearch(input)'>
			<input type='text' keyboard-poster post-function='searchProfiles' ng-model='input' class='form-control'
      name='_profiles' list='_profiles' flex placeholder='Search'/>
        <datalist id='_profiles'>
          <!-- <option ng-repeat='profile in profiles' ng-model='selectedProfile' value='{{profile.val.firstName}} {{profile.val.lastName}}'></option> -->
          <select ng-model='selectedProfile' ng-selected='visitPage(selectedProfile)' ng-options="profile.val.firstName+ ' '+ profile.val.lastName for profile in profiles"> </select>
        </datalist>
    </form>

      <md-button class='md-icon-button' aria-label='Settings' ng-click='goToSearch(user.name)'>
          <md-icon md-svg-icon='images/icons/ic_search_48px.svg'></md-icon>
      </md-button>
      <md-input-container placeholder='Search'>

      </md-input-container>

 		</div>
  </md-toolbar>
</div>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="position: fixed;">
  <md-toolbar class="md-theme-dark" >
    <div class="md-toolbar-tools" ng-click='toggleLeft()' > Menu</div>
  </md-toolbar>
	<md-content ng-controller="LeftCtrl" layout-padding>
	<!--dashboard  -->
    <md-content layout-padding>
    <img style="padding-top:100px;" class="personal-image-profile" src={{profileInfo.picture}}>
    </md-content>
    <md-content>
    <h4 style="color: #d43f3a;"> Welcome Back, {{profileInfo.firstName}} {{profileInfo.lastName}} ! </h4>
    </md-content>
		<md-content layout-padding>
			<md-button ng-click="goToDashboard()" class="md-primary">
			  Chat
			</md-button>
		</md-content>

	<!-- Me -->
		<md-content layout-padding>
      <md-button ng-click="goToProfile(userid)" class="md-primary">
        Profile
      </md-button>
		</md-content>

	<!--Friends -->
		<md-content layout-padding>
		  <md-button ng-click="goToFriends(userid)" class="md-primary">
		    Friends
		  </md-button>
		</md-content>

	<!--Settings -->
		<md-content layout-padding>
		  <md-button ng-click="goToSettings()" class="md-primary">
		    Settings
		  </md-button>
		</md-content>

	<!--Photos -->
		<md-content layout-padding>
			<md-button ng-click="goToPhotos(userid)" class="md-primary">
			Photos
			</md-button>
		</md-content>

	<!--Messages -->
		<md-content layout-padding>
			<md-button ng-click="goToMessages()" class="md-primary">
			  Messages
			</md-button>
		</md-content>

  <!--Culture-->
    <md-content layout-padding>
      <md-button ng-click="goToCulture()" class="md-primary">
        Culture Search
      </md-button>
    </md-content>

    <!--Forum -->
    <md-content layout-padding>
      <md-button ng-click="goToForum()" class="md-primary">
      Forum
      </md-button>
    </md-content>

		<md-content layout-padding>
			<md-button ng-click="logout()" class="btn-danger btn-raised">
			Log Out
			</md-button>
		</md-content>

	</md-content>

  <div class="footer">
      <div class="container">
        <p>Made with <span class="glyphicon glyphicon-heart" style="color: red;"></span> from the UCRPal team</p>
      </div>
  </div>

</md-sidenav>

